body{
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.baddy{
    background-image: url('img/index.jpg');
    filter: blur(3px);
    -webkit-filter: blur(3px); 
    height: 102vh;
    margin-top: -2vh;

}

.center{
    background-color: rgba(245, 245, 220, 0.301);
    position:absolute;
    height: 60vh;
    width: 60vw;
    /* filter: blur(1px); */
    margin-left: 23vw;
    margin-top: -80vh;
    /* display: flex;
    flex-direction: column; */
    /* align-items: center; */
    /* justify-content:space-evenly; */
    border-radius: 40px;
}
button{
    font-weight: bolder;
    background-color: rgba(83, 83, 83, 0.164);
    width: 15%;
    transition-duration: 1s;
    /* border-radius: 20px; */
    height: 14%;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 60px;
    margin-bottom: 0px;
    border: none;

}
button:hover{
    background-color: rgb(173, 167, 167);
}
form{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.forms{
    /* background-color: blueviolet; */
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-content: center;
    /* justify-content: center; */
}

.formss{
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.inputers{
    /* background-color: violet; */
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.upfo>label{
    font-size: 1.3vw;
    width: 100%;
    display: flex;
    font-weight: bolder;
    flex-direction: column;
    /* justify-content: space-evenly; */
}
.down>label{
    font-weight: bolder;
    font-size: 1.3vw;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.inp{
    /* width: ; */
    /* background-color: rgba(240, 255, 255, 0);
     */
    border: none;
    border-bottom: solid 3px black;
    border-radius: 10px;
    font-size: 1.3vw;
    background-color: transparent;
    /* color: transparent; */

}
.submit{
    background-color: rgba(83, 83, 83, 0.164);
    font-weight: bolder;
    /* color: white; */
    font-size: 15px;
    /* border-radius: 3px; */
    margin-top: 1vh;
    padding: 2%;
    border-radius: 30px;
    transition-duration: 1s;
    border: none;
    width: 15%;
}
.submit:hover{
    background-color: rgb(173, 167, 167);

}
.message{
    color: rgb(209, 8, 8) ;
}
/* input{
    background-color: transparent;
} */
/* .upfo{
    background-color: yellowgreen;
    width: 100%;
}
.down{
    color: yellow;
    width: 50%;
} */